# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages

name: Build & release

on:
  push:
    branches: [main]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./packages/chaser-design-system/
    steps:
      - uses: actions/checkout@v5

      - name: Install pnpm
        uses: pnpm/action-setup@v4.2.0
        with:
          version: latest

      - name: Set node version to 22
        uses: actions/setup-node@v6
        with:
          node-version: 22

      - name: Install
        run: pnpm i

      - name: Build
        run: pnpm build

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          path: ./packages/chaser-design-system/dist
          name: dist

      - name: Install Playwright Dependencies
        run: pnpm i playwright && pnpm exec playwright install chromium --with-deps

      - name: Test
        run: pnpm run test
  release:
    needs: build
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./packages/chaser-design-system/
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
      id-token: write # to enable use of OIDC for trusted publishing and npm provenance
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Install pnpm
        uses: pnpm/action-setup@v4.2.0
        with:
          version: latest

      - name: Set node version to 22
        uses: actions/setup-node@v6
        with:
          node-version: 22

      - name: Install
        run: pnpm i

      - name: Install Playwright Dependencies
        run: pnpm build

      # Ensure npm 11.5.1 or later is installed
      - name: Update npm
        run: npm install -g npm@latest

      - name: Publish Package
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx semantic-release
